{% extends "network/layout.html" %}

{% block body %}
    <h1>All Post</h1>
    {%if user.is_authenticated%}
        <h4>New Post</h4>
        <form action="{% url 'newpost' %}" method="POST">
            {%csrf_token%}
            <textarea class="form-control" name="content" placeholder="Leave a comment here" style="height: 100px"></textarea>
            <button type="submit" class="btn btn-primary">Post</button>
        </form>
    {%endif%}

    <h4>All Post</h4>
    {% for post in allposts %}
    <div class="row posts"></div>
        <ul class="list-group posts">
            <li class="list-group-item username">{{post.author}}</li>
            <li class="list-group-item content">{{post.content}}</li>
            <li class="list-group-item date"><span>{{post.date_posted}}</span></li>
        </ul>
    </div>
    {%endfor%}
{% endblock %}