.navbar{
    margin-bottom: 50px;
}

.step.active{
    display: block;
}

.step{
    display: none;
}

body, html {
    height: 100%;
    background-color: black;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.full-height-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 300px); /* Adjust based on navbar height */
}
.login-form {
    width: 100%;
    max-width: 400px;
}
.login-form .form-group {
    margin-bottom: 1rem;
}
.login-form .btn {
    width: 100%;
}
.navbar-custom {
    height: 80px; /* Adjust based on your navbar height */
    background-color: white;
    margin-top: 20px;
    margin-bottom: 60px;
    padding: 10px;
}

.btn{
    border-radius: 1.5ch;
    border: none;
}

.btn-primary{
    background-color: black;
}

form{
    background-color: white;
    border-radius: 1.5ch;
    padding: 2cap;
}

a{
    color: black;
}

.rounded-input {
    border-radius: 12px; /* Adjust the radius as needed */
    border: 1px solid #ccc; /* Optional: Add a border for better visibility */
    padding: 8px; /* Optional: Add padding inside the input */
    width: 100%; /* Optional: Make the input take full width */
}


