{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Create Listings</h2>
    <form action="{% url 'create' %}" method="POST">
        {%csrf_token%}
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name='title' class="form-control" id="title" placeholder="Enter title">
        </div>
        
        <div class="form-group">
            <label for="price">Price</label>
            <input type="number" name='price' class="form-control" id="price" placeholder="0">
        </div>

        <div class="form-group">
            <label for="imgURL">Image URL</label>
            <input type="text" name='imgURL' class="form-control" id="imageurl" placeholder="Enter image URL">
        </div>

        <div class="form-group">
            <label for="team">Team</label>
            <select name="team" id="team">
                {% for t in team %}
                <option value="{{t}}">{{t}}</option>
                {%endfor%}
            </select>
        </div>

        <button type="submit" class="btn btn-success">Create</button>

    </form>
{% endblock %}