{% extends "auctions/layout.html" %}

{%block body%}

    <div class="row">
        {% if user.is_authenticated %}
            {% if userisWatching %}
                <form action="{%url 'removewatchList' id=item.id%}" method="POST">
                    {%csrf_token%}
                    <button type="submit" class="btn btn-danger">Remove from Watchlist</button>
                </form>
            {% else %}
                <form action="{%url 'addwatchList' id=item.id%}" method="POST">
                    {%csrf_token%}
                    <button type="submit" class="btn btn-success">Add in Watchlist</button>
                </form>
            {% endif %}
        {% endif %}
    </div>

    <h1>Car: {{item.title}}</h1>
    <img src="{{item.imgURL}}" alt="{{item.title}}" height="300px">
    <p>Owner: {{item.owner}}</p>
    <h3>${{item.price}}</h6>

    <h2>Comments</h2>
    <br/>
    {% if user.is_authenticated%}
        <form action="{%url 'comment' id=item.id%}" method="POST">
            {%csrf_token%}
            <input type="text" name="newcomment" placeholder="Comment here">
            <button type="submit" class="btn btn-warning">Add Comment</button>
        </form>
    {%endif%}
    <ul class="list-group">
        {%for comment in allcomment%}
        
            <li class="list-group-item">{{comment.comment}} <small class="text-body-secondary">Posted by {{comment.author}}</small></li>
            <br\>
            
        
        {%endfor%}
    </ul>
{%endblock%}