{%extends 'cuttingcal/layout.html'%}

{%block body%}
  <h1>Project Calculation</h1>
  <div class="card text-left">
    <div class="card-header">
      <ul class="nav nav-pills card-header-pills">
        <li class="nav-item">
          <a class="nav-link active" href="#">Step 1: Create Order</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Step 2: Add Model</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
    </div>
    <div class="step active">
        <div class="card-body">
            <h5 class="card-title">New Order</h5>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Project</span>
                <input type="text" class="form-control" placeholder="Project code" aria-label="Project code" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Style</span>
                <input type="text" class="form-control" placeholder="Style name" aria-label="Style name" aria-describedby="basic-addon1">
            </div>
            <a href="#" class="btn btn-primary">Next</a>
        </div>
    </div>

    <div class="step active">
        <div class="card-body">
            <h5 class="card-title">Add style</h5>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Name</span>
                <input type="text" class="form-control" placeholder="Style name" aria-label="Style name" aria-describedby="basic-addon1">
            </div>
            <a href="#" class="btn btn-primary">Next</a>
        </div>
    </div>
  </div>
{%endblock%}