{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Cutting Project Calculation{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'cuttingcal/styles.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    {%block styles%}
    {%endblock%}
  </head>
  <body>
    <div class="container">
      <div class="row navbar align-items-center navbar-custom">
        <div class="col">
          {% block pagetitle %}
          {% endblock %}
        </div>
        <div class="col d-flex justify-content-end align-items-center">
          <a href="{% url 'index' %}" class="mx-2">Home</a>
          <a href="{% url 'register' %}" class="mx-2">Register</a>
          <button class="btn btn-primary mx-2">New Project</button>
        </div>
      </div>
      {% block body %}
      {% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    {% block scripts %}
    {% endblock %}
  </body>
</html>
